.email-collect .email-content {
  padding: 20px;
}
.email-collect {
  border: 1px solid #ddd;
  background: #fff;
  padding: .2EM;
  overflow: hidden;
}
.email-collect p {
  font-size: 15px;
}
.button.pink {
  color: #f5f3f0;
  font-weight: bold;
  border-color: #c56c76;
  background: #c56c76;
  filter: none;
  -webkit-box-shadow: inset 0 0.15em 0.15em #e86f82;
  -moz-box-shadow: inset 0 0.15em 0.15em #e86f82;
  box-shadow: inset 0 0.15em 0.15em #e86f82;
}
.email-collect button {
  display: block;
  margin: 30px auto 0 !important;
  text-align: center;
}
.button {
  padding: 0.45em 1.6em 0.375em;
  line-height: 1.5;
  width: auto;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 1em;
  border-radius: 0.25em;
  border: 1px solid #c56c76;
}
.button:hover {
  border-color: #d67d87;
  background: #d67d87;
  background: -moz-linear-gradient(top, #c56c76 0%, #d67d87 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c56c76), color-stop(100%, #d67d87));
  background: -webkit-linear-gradient(top, #c56c76 0%, #d67d87 100%);
  background: -o-linear-gradient(top, #c56c76 0%, #d67d87 100%);
  background: -ms-linear-gradient(top, #c56c76 0%, #d67d87 100%);
  background: linear-gradient(to bottom, #c56c76 0%, #d67d87 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c56c76', endColorstr='#d67d87',GradientType=0 );
}
.button.no-decoration {
  text-shadow: none;
  background: none;
}
.speaker-preview.email-collect {
  margin: 0 0 0 3%;
  margin-top: 0;
}
